<header class="masthead">
  <div>
    {{#if image}}
    <div class="name">
      <div>
        {{#name}}
        <h1>{{.}}</h1>
        {{/name}}
        {{#label}}
        <h2>{{.}}</h2>
        {{/label}}
      </div>
      <img src="{{image}}" alt="{{name}}" />
    </div>
    {{else}}
    {{#name}}
    <h1>{{.}}</h1>
    {{/name}}
    {{#label}}
    <h2>{{.}}</h2>
    {{/label}}
    {{/if}}
  </div>
  <div class="summary">
    <ul class="icon-list">
      {{#location}}
      {{#if city}}
      <li>
        {{{icon 'map-pin'}}}
        {{city}}{{#countryCode}}, {{formatCountry .}}{{/countryCode}}
      </li>
      {{/if}}
      {{/location}}
      {{#email}}
      <li>
        {{{icon 'mail'}}}
        <a data-track="Email" href="mailto:{{.}}">{{.}}</a>
      </li>
      {{/email}}
      {{#phone}}
      <li>
        {{{icon 'phone'}}}
        <a data-track="Phone" href="tel:{{formatPhone .}}">{{.}}</a>
      </li>
      {{/phone}}
      {{#url}}
      <li>
        {{{icon 'link'}}}
        <a data-track="Website" href="{{.}}">{{formatURL .}}</a>
      </li>
      {{/url}}
      {{#profiles}}
      <li>
        {{{icon network 'user'}}}
        {{#if username}}
        {{#if url}}
        <a data-track={{network}} href="{{url}}">{{username}}</a>
        {{else}}
        {{username}}
        {{/if}}
        {{else}}
        {{#url}}
        <a href="{{.}}">{{formatURL .}}</a>
        {{/url}}
        {{/if}}
        {{#network}}
        <span class="network">({{.}})</span>
        {{/network}}
      </li>
      {{/profiles}}
    </ul>
    <a data-track="Download" href="resume.pdf" download="cv-vladimir-volokhin.pdf" title="Download" class="no-print">
      {{{icon 'download'}}}
    </a>
  </div>
</header>